.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 2em 0 0 0;
  border-radius: 5px;
  box-shadow: 10px 20px rgba(0, 0, 0, 0.3);
}

.success {
  background-color: #04E494;
}

.error {
  background-color: #FF6961;
}

.message {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.time {
  display: inline-block;
  min-height: 5px;
  background-color: black;
  margin-top: 15px;
  opacity: 0.3;
  animation: timering 3s both;
}

@keyframes timering {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}